* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: #d2d2d2;
    color: #000000;
    padding: 14px 20px;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

li a:hover {
    color: #ff7700;
}

/*Home work display properties in Css and type of Css selectors */
nav li:last-child a {
    background-color: #ff0505;
    border-radius: 7px;
    padding: 5px 7px;
}

nav li:last-child a:hover {
    background-color: #ff7700;
    color: #ffffff;
}

nav a.active {
    color: #ff7700;
    font-weight: bold;
    border-bottom: 2px double #ff7700;
}